html
  head
    title='计数器!'
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    link(rel='icon', type='image/png', href=`${site}/favicon.png`)
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/normalize.css')
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bamboo.css')
    link(rel='stylesheet/less', href=`${site}/style.less`)
    script(less, src='https://cdn.jsdelivr.net/npm/less')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag() { dataLayer.push(arguments); }
      gtag('js', new Date());
      function _evt_push(type, category, label) {
        gtag('event', type, {
          'event_category' : category,
          'event_label' : label
        });
      }

    script.
      var __global_data = { site: "#{site}" };

  body
    h1#main_title
      i 计数器!

    h3 使用方法
    p 为你的计数器设置一个唯一的 ID，将 URL 中的
      code :name
      |  替换掉，就可以啦！

    h5 SVG 地址
    code #{site}/@:name

    h5 图片标签
    code &lt;img src="#{site}/@:name" alt=":name" />

    h5 Markdown
    code ![:name](#{site}/@:name)

    h5 例如：
      img(src=`${site}/@index` alt="计数器!")

    details#themes
      summary#more_theme(onclick='_evt_push("click", "normal", "more_theme")')
        h3 更多主题✨
      p 只需使用查询参数 <code>theme</code>，例如：<code>#{site}/@:name?theme=moebooru</code>
      each theme in Object.keys(themeList)
        div.item(data-theme=theme)
          h5 #{theme}
          img(data-src=`${site}/@demo?theme=${theme}` alt=theme)

    h3 致谢
    ul
      li: a(href='https://render.com/', target='_blank', rel='nofollow') Render
      li: a(href='https://space.bilibili.com/703007996', target='_blank', title='A-SOUL_Official') A-SOUL
      li: a(href='https://github.com/moebooru/moebooru', target='_blank', rel='nofollow') moebooru
      li
        a(href='javascript:alert("!!! NSFW 链接 !!!\\n请手动输入网址")') gelbooru.com
        |  NSFW
      li: a(href='https://icons8.com/icon/80355/star', target='_blank', rel='nofollow') Icons8
      span: i 以及所有 booru 网站...

    h3 工具
    .tool
      table
        thead
          tr
            th 参数
            th 描述
            th 值
        tbody
          tr
            td: code name
            td 唯一的计数器名称
            td: input#name(type='text', placeholder=':name')
          tr
            td: code theme
            td 选择计数器图片主题，默认是
              code moebooru
            td
              select#theme
                option(value="random", selected) * 随机
                each theme in Object.keys(themeList)
                  option(value=theme) #{theme}
          tr
            td: code padding
            td 设置最小长度，范围 1-16，默认是
              code 7
            td: input#padding(type='number', value='7', min='1', max='32', step='1', oninput='this.value = this.value.replace(/[^0-9]/g, "")')
          tr
            td: code offset
            td 设置偏移像素值，范围 -500~500，默认是
              code 0
            td: input#offset(type='number', value='0', min='-500', max='500', step='1', oninput='this.value = this.value.replace(/[^0-9|\-]/g, "")')
          tr
            td: code scale
            td 设置图片缩放比例，范围 0.1~2，默认是
              code 1
            td: input#scale(type='number', value='1', min='0.1', max='2', step='0.1', oninput='this.value = this.value.replace(/[^0-9|\.]/g, "")')
          tr
            td: code align
            td 设置图片对齐方式，可选 top/center/bottom，默认是
              code top
            td: select#align(name="align")
              option(value="top", selected) 顶部
              option(value="center") 居中
              option(value="bottom") 底部
          tr
            td: code pixelated
            td 开启像素化模式，可选 0/1，默认是
              code 1
            td
              input#pixelated(type='checkbox', role='switch', checked)
              label(for='pixelated'): span
          tr
            td: code darkmode
            td 开启深色模式，可选 0/1/auto，默认是
              code auto
            td: select#darkmode(name="darkmode")
              option(value="auto", selected) 自动
              option(value="1") 是
              option(value="0") 否
          tr
            td(colspan=3)
              h4.caption 非常规选项
          tr
            td: code num
            td 设置计数器显示的数字，0 表示禁用，默认是
              code 0
            td: input#num(type='number', value='0', min='0', max='1e15', step='1', oninput='this.value = this.value.replace(/[^0-9]/g, "")')
          tr
            td: code prefix
            td 设置前缀数字，留空表示禁用
            td: input#prefix(type='number', value='', min='0', max='999999', step='1', oninput='this.value = this.value.replace(/[^0-9]/g, "")')

      button#get(onclick='_evt_push("click", "normal", "get_counter")') 生成代码

      div
        code#code
        img#result

    div.back-to-top

    script(async, src=`${site}/script.js`)
